#start{
    font-weight: 400;
    border: none;
    border: 1px solid rgb(60, 60, 60);    
    border-radius: 8px;

    font-family: "Oswald";
    font-size: 28px;

    padding: 2px 50px 2px 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    
    cursor: pointer;

    background-color: #F6C90E;
    color: rgb(29, 29, 29);
    
    /*Glow effect*/
    -webkit-box-shadow:0px 0px 30px 4px rgba(255,238,46,0.33);
    -moz-box-shadow: 0px 0px 30px 4px rgba(255,238,46,0.33);
    box-shadow: 0px 0px 30px 4px rgba(255,238,46,0.33);
}


#clock-icon{
    margin-top: 3px;
    width: 24px;
    color: rgb(60, 60, 60)
}

#time , #num-of-questions{
    margin-left: 6px;
    color: rgb(60, 60, 60);
}

#time-container, #question-container{
    display: flex;
    align-items: center;
}

#question-icon{
    width: 24px;
    color: rgb(60, 60, 60);
    margin-top: 6px;
}

#icons-container{
    display: flex;
    width: 80vw;
    margin-top: 18px;
    justify-content: space-around;
}

#start-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    background-color: rgb(21, 21, 21);
    border: 1px solid rgb(34, 34, 34);

    width: 100vw;
    height: 100vh;
}

#gift-icon{
    width: 38px;
    color: #F6C90E;
}

#title-container{
    align-items: center;
    display: flex;
    margin-top: 24px;
    margin-bottom: 35px;
    border-bottom: 1px solid rgb(60, 60, 60);
}

#title{
    color: rgb(232, 232, 232);
    font-size: 34px;
    margin-left: 10px;
    font-family: "Oswald";
}

#description1{
    font-family: "Roboto";
    font-weight: 100;
    font-size: 30px;
    margin: 14px 10% 40px 10%;
    text-align: center;

}

#description2{
    font-weight: 100;
    font-size: 24px;
    text-align: center ;
    color: rgb(135, 135, 135);
    width: fit-content;
    margin: 0px 20px 30px 20px;
}

#guide{
    font-weight: 400;
    color: rgb(60, 60, 60);
}

#animation{
    font-size: 32px;
    font-weight: 400;
}
